type="text/css">
html
	{ 
		background-color: #ffffff;
		background-image: url (clouds.jpg);
		background-image: url (IMG_20190427_191103.jpg);
	}
p.small {line-height:80%;}
p.big {line-height:200%;}	
p.normal {font-style:normal;}
p.italic {font-style:italic; line-height:80%;}
p.oblique {font-style:oblique;}

img
    {
	    align: center;
    }
