type="text/css">
html
	{ 
		background-color: #ffffff;
		background-image: url (https://github.com/Ne1heLe/Ne1heLe.github.io/raw/master/In_another_life.jpg);

	}
p.small {line-height:80%;}
p.big {line-height:200%;}	
p.normal {font-style:normal;}
p.italic {font-style:italic; line-height:80%;}
p.oblique {font-style:oblique;}

img
    {
	    align: center;
    }
